body {
    /*padding-top: 50px;
    padding-bottom: 20px;*/
}
@media (min-width: 1480px) {
    .container {
        max-width: 1580px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1320px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 900px;
    }
}
@media (min-width: 992px) 
{
    .container {
        max-width: 1350px;
    }
}
/*@media (min-width: 576px) {
    .container {
        max-width: 740px;
    }
}*/
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 60px;
    padding-bottom: 40px;
    padding-left:60px;
    padding-right:60px;
    /*padding-left: 15px;
    padding-right: 15px;*/
    /*border: 2px solid #808080;*/
    /*height: 950px;*/
    background-color: #f3f3f3;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*=======================================*/

.col-4, .col-3, .col-5, col-lg-4 {
    /*border: 2px solid #00ff90;*/
    height: 100%;
}

.row-parent {
    /*border: 2px solid #ff0000;*/
    height: 100%;
}
/*start row-login*/
.row-login {
    height: 30%;
    /*border: 2px solid #4800ff;*/
    padding-left: 0px;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
}
input[type='radio'] {
    width: 16px;
    height: 16px;
}

    input[type='radio']:checked:after {
        width: 12px;
        height: 12px;
        border-radius: 12px;
        top: -4px;
        left: 1px;
        position: relative;
        background-color: #6f43bd;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
    }
    .row-login input {
        border: 1px solid #808080;
        border-radius: 4px;
        padding: 5px;
        margin-bottom: 8px;
    }

    .row-login h5 {
        margin-bottom: 0px;
        line-height: 60px;
        font-size: 30px;
        color: #393836;
        font-weight: 300;
    }

    .row-login p {
        color: #bababa;
    }

    .row-login .form-group {
    }

    .row-login .btn {
        background-color: #6f43bd;
        /*width: 21%;*/
        width: 34%;
        margin-left: 6px;
        padding: 6px;
    }
/*start row-phone*/
.row-phone {
    height: 70%;
    /*border: 2px solid #4800ff;*/
    padding-top: 20px;
}

#main {
    width: 20%;
    height: 98%;
    margin-top: 7px;
    margin-left: auto;
    margin-right: 4px;
    border: 1px solid #c3c3c3;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
}

    #main div {
        width: 100%;
        height: 14.3%;
        border-bottom: 1px solid #c3c3c3;
        text-align: center;
        padding-top: 10px;
    }

/*start row-home*/
.row-home {
    height: 40%;
    /*border: 2px solid #4800ff;*/
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

    .row-home #home-top {
        height: 52%;
        /*width: 100%;*/
        background-image: url('../Images/b.jpg');
        background-repeat: no-repeat;
        background-size: auto;
        /*position: center;*/
        /*object-fit:cover;*/
        text-align: center;
    }

    .row-home h2 {
        color: #393836;
        font-weight: 400;
    }

    .row-home h5 {
        color: #a9a9a9;
        font-weight: 300;
    }

#home-bottom {
    text-align: center;
    margin: auto;
    padding-top: 50px;
}

.row-home .row-boottom {
    height: 50%;
    width: 100%;
    background-color: blueviolet;
    border: 2px solid #4800ff;
}

.row-home img {
    position: relative;
    bottom: -112px;
    border: 3px solid #ffffff;
}
/*start row-calendar*/
.row-calendar {
    height: 40%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    /*border: 2px solid #4800ff;*/
}

#main1 {
    width: 12%;
    height: 90%;
    margin-top: 0px;
    margin-left: auto;
    /*margin-right: 20px;*/
    /*border: 1px solid #c3c3c3;*/
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
}

    #main1 div {
        width: 100%;
        height: 15%;
        border-bottom: 1px solid #c3c3c3;
        text-align: center;
        padding-top: 10px;
        border-radius: 8px;
        margin-bottom: 11%;
        background-color: #e5e0ed;
        color: #6f43bd;
        border: 1px solid #6f43bd;
    }
/*calendar*/

* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

body {
    font-family: Verdana, sans-serif;
}

.calendar {
    width: 80%;
    background-color: #ffffff;
    border: 1px solid #e6e5e5;
    /*text-align:center;*/
}

.month {
    padding: 5px 30px 7px 30px;
    width: 100%;
    background: #393836;
    text-align: center;
}

    .month ul {
        margin: 0;
        padding: 0;
    }

        .month ul li {
            color: white;
            font-size: 15px;
            text-transform: uppercase;
            letter-spacing: 2px;
        }

    .month .prev {
        float: left;
        padding-top: 2px;
    }

    .month .next {
        float: right;
        padding-top: 2px;
    }

.weekdays {
    width: 100%;
    margin: 0;
    padding: 5px 0;
    /*background-color: #ddd;*/
}

    .weekdays li {
        display: inline-block;
        width: 12%;
        color: #666;
        text-align: center;
    }

.days {
    width: 100%;
    padding: 0;
    /*background: #eee;*/
    margin: 0;
}

    .days li {
        list-style-type: none;
        display: inline-block;
        width: 12%;
        text-align: center;
        margin-bottom: 5px;
        font-size: 12px;
        color: #777;
    }

        .days li .active {
            padding: 5px 8px;
            background: #6f43bd;
            border-radius: 50%;
            color: white !important;
        }
/*start row-drop*/
.row-drop {
    height: 20%;
    /*border: 2px solid #4800ff;*/
    padding-left: 20px;
    padding-right: 20px;
}

    .row-drop a:hover {
        background-color: #6f43bd;
    }
/*start row-login*/
.row-map {
    height: 40%;
    padding-bottom: 20px;
    /*border: 2px solid #4800ff;*/
}
/*start row-buttons*/
.row-butons {
    height: 30%;
    /*border: 2px solid #4800ff;*/
}
.style1 {
    width: 48%;
    background-color: #6f43bd;
    color: #ffffff;
    border: 1px solid #6f43bd;
}
.style2 {
    width: 48%;
    color: #6f43bd;
    border: 2px solid #6f43bd;
}
.style3 {
    width: 48%;
    border: 2px solid #bababa;
    color: #bababa
}
.style4 {
    width: 48%;
    background-color: #f4dfde;
}


    .row-butons input[type="text"] {
        border: 1px solid #808080;
        border-radius: 4px;
        padding: 5px;
        margin-bottom: 8px;
        width: 100%;
    }

    .row-butons .alert {
        width: 100%;
        font-size: 10px;
    }

        .row-butons .alert i {
            margin-right: auto;
            margin-left: 0;
        }

        .col-right,.col-left{
            width:50%;
        }
/* buttons switch */
.switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 20px;
    margin-left:5px;
    float:right;
}
#switchs {
    padding-bottom: 50px;
}

    .switch input {
        display: none;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.s1 {
    background-color: #ff0000;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #6f43bd;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px
}

    .slider.round:before {
        border-radius: 50%;
    }
/*start row-login*/
.row-video {
    height: 30%;
    /*border: 2px solid #4800ff;*/
}
/* clander  plugin custom */
.jsCalendar.material-theme thead {
    background-color: #393836;
    padding: 0;
}

.jsCalendar tbody td.jsCalendar-current {
    background-color: #6f43bd;
}

.jsCalendar thead .jsCalendar-title {
    background-color: #393836;
    color: #ffffff;
}

.jsCalendar tbody {
    margin: 0;
}
@media screen and (max-width: 1220px) {
    .jsCalendar thead .jsCalendar-week-days th, .jsCalendar tbody td {
        height: 34px;
        width: 34px;
        margin: 0;
    }
    .row-phone {
        /*height: 560px;*/
        /*border: 2px solid #4800ff;*/
        /*padding-top: 80px;*/
    }
}
@media screen and (max-width: 1110px) {
    .jsCalendar thead .jsCalendar-week-days th, .jsCalendar tbody td {
        height: 30px;
        width: 30px;
        margin: 0;
    }

    #main1 {
     
        height: 80%;
        margin-top: 0px;
        margin-left: auto;
        /*margin-right: 20px;*/
        /*border: 1px solid #c3c3c3;*/
     
    }

        #main1 div {
            height: 40px;
            border-bottom: 1px solid #c3c3c3;
            text-align: center;
            padding-top: 8px;
            padding-bottom: 6px;
            border-radius: 6px;
            margin-bottom: 11%;
            background-color: #e5e0ed;
            color: #6f43bd;
            border: 1px solid #6f43bd;
        }
    .style1,.style2,.style3,.style4{
        width:100%;
        margin:2px;
    }
    .row-phone {
        height: 560px;
        
    }
    .row-butons {
        height: 39%;
        /*border: 2px solid #4800ff;*/
    }
    #switchs {
        padding-bottom: 30px;
    }
    .row-video {
        height: 25%;
        /*padding-bottom: 120px;*/
        padding-top: 0px;
    }
}
@media screen and (max-width: 992px) {
    .row-login, .row-calendar, .row-butons, .row-map, .row-parent,  .row-boottom, .row-phone, .row-video {
        height: auto;
        margin-bottom:20px;
    }
    .row-drop{
        height:200px;
    }
    .row-home{
        height:350px;
    }

    .body-content {
        padding-top: 30px;
        padding-bottom: 5px;
        padding-left: 15px;
        padding-right: 15px;
       
    }

    .row-butons .alert {
        width: 100%;
        font-size: 12px;
    }
    .row-video {
        height:20%;
        /*padding-bottom: 120px;*/
        padding-top: 0px;
    }
    .jsCalendar thead .jsCalendar-week-days th, .jsCalendar tbody td {
        height: 25px;
        width: 25px;
        margin: 0;
    }
    .row-map {
        height: 350px;
        padding-bottom: 20px;
        /*border: 2px solid #4800ff;*/
    }
    .row-phone {
        height: 550px;
        /*border: 2px solid #4800ff;*/
        padding-top: 50px;
    }
}
@media screen and (max-width: 768px) {
    .jsCalendar thead .jsCalendar-week-days th, .jsCalendar tbody td {
        height: 30px;
        width: 25px;
        margin: 0;
    }
    .row-phone {
        height: 650px;
        /*border: 2px solid #4800ff;*/
        padding-top: 20px;
    }
}
@media screen and (max-width: 450px) {
    .row-phone {
        height: 550px;
        /*border: 2px solid #4800ff;*/
        padding-top: 20px;
    }
}
    @media screen and (max-width: 380px) {
        .row-phone {
            height: 500px;
            /*border: 2px solid #4800ff;*/
            padding-top: 20px;
        }

        .jsCalendar thead .jsCalendar-week-days th, .jsCalendar tbody td {
            height: 27px;
            width: 27px;
            margin: 0;
        }
    }