@{
    ViewBag.Title = "Home Page";

}
<style>

</style>
<div class="row row-parent">
    <!-- col1 -->
    <div class="col-md-4">
        <!-- row login -->
        <div class="row row-login">




            <div class="form-group col-12">
                <h5>Login info</h5>
                <p>Type your email and password</p>
                
                        <input type="text" placeholder="Email" class="col-lg-7 col-12" />
                        <input type="password" placeholder="Password" class="col-lg-4 col-12" />
                        <div class="">
                            <input type="radio" class="col-md-5 col-sm-12" /> Keep me logged in
                            <input type="submit" class="btn btn-info btn-sm col-md-3 col-sm-12" value="Login" />

                        </div>
                       
                </div>


            </div>
        <!-- row phone -->
        <div class="row row-phone">
            <img src="../Images/phone.png" style="width:72%">

            <div id="main">
                <div style="background-color:#6f43bd;color:#ffffff;"><h6 style="font-weight:300;font-size:13px;">MON</h6><h6 style="font-size:32px;font-weight:300;">14</h6></div>
                <div style="background-color:#ffffff;color:#808080;"><h6 style="font-weight:300;font-size:13px;">TUE</h6><h6 style="font-size:32px;font-weight:300;">15</h6></div>
                <div style="background-color:#ffffff;color:#808080;"><h6 style="font-weight:300;font-size:13px;">WED</h6><h6 style="font-size:32px;font-weight:300;">16</h6></div>
                <div style="background-color:#ffffff;color:#808080;"><h6 style="font-weight:300;font-size:13px;">THU</h6><h6 style="font-size:32px;font-weight:300;">17</h6></div>
                <div style="background-color:#ffffff;color:#808080;"><h6 style="font-weight:300;font-size:13px;">FRI</h6><h6 style="font-size:32px;font-weight:300;">18</h6></div>
                <div style="background-color:#ffffff;color:#808080;"><h6 style="font-weight:300;font-size:13px;">SAT</h6><h6 style="font-size:32px;font-weight:300;">19</h6></div>
                <div style="background-color:#ffffff;color:#808080;"><h6 style="font-weight:300;font-size:13px;">SUN</h6><h6 style="font-size:32px;font-weight:300;">20</h6></div>

            </div>
        </div>
    </div>
    <!-- col2 -->
    <div class="col-md-4">
        <!-- row home -->

        <div class="row row-home">
            <div style="border: 1px solid #e6e5e5;width:100%; background-color:#ffffff;margin-left:3px;">
                <div id="home-top">
                    <img src="../Images/m.jpg" class="rounded-circle" alt="Cinque Terre" width="100" height="100">

                </div>

                <div id="home-bottom">
                    <h2>Jardson Araujo</h2>
                    <h5>Product Designer</h5>
                </div>
            </div>
        </div>
        <!-- row calender -->
        <div class="row row-calendar">

            <!-- Calendar -->
            @*<div id="my-calendar"></div>*@
            <div>
                <div class="auto-jsCalendar material-theme" style="margin-bottom:0"></div>
                @*<input type="submit" value="Add Event" class="btn btn-info btn-sm" style="background-color:#6f43bd;color:#ffffff; width:80%;margin-left:10%;margin-right:10%;margin-top:0px;padding:10px;" />*@
            </div>
            

            @*<div class="auto-jsCalendar"></div>*@
            @*<div class="calendar-wrapper calendar">

            <i class="fa fa-angle-left prev" id="btnPrev"></i>
            <i class="fa fa-angle-right next" id="btnNext"></i>


            <div id="divCal" class="days"></div>
        </div>*@
            @*<div class="calendar">
            <div class="month">
                <ul>
                    <li class="prev">&#10094;</li>
                    <li class="next">&#10095;</li>
                    <li>
                        <span style="font-size:18px">MAY 2014</span>
                    </li>
                </ul>
            </div>

            <ul class="weekdays">
                <li>Mo</li>
                <li>Tu</li>
                <li>We</li>
                <li>Th</li>
                <li>Fr</li>
                <li>Sa</li>
                <li>Su</li>
            </ul>

            <ul class="days">
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
                <li><span class="active">8</span></li>
                <li>9</li>
                <li>10</li>
                <li>11</li>
                <li>12</li>
                <li>13</li>
                <li>14</li>
                <li>15</li>
                <li>16</li>
                <li>17</li>
                <li>18</li>
                <li>19</li>
                <li>20</li>
                <li>21</li>
                <li>22</li>
                <li>23</li>
                <li>24</li>
                <li>25</li>
                <li>26</li>
                <li>27</li>
                <li>28</li>
                <li>29</li>
                <li>30</li>
                <li>31</li>
            </ul>

            <input type="submit" value="Add Event" class="btn btn-info btn-sm" style="background-color:#6f43bd;color:#ffffff; width:80%;margin-left:10%;margin-right:10%;margin-top:30px;padding:10px;" />
        </div>*@
            <!-- icons vertical -->
            <div id="main1">
                <div style=""><i class="fas fa-globe"></i></div>
                <div style=""><h5>Bè</h5></div>
                <div style=""><i class="fab fa-twitter"></i></div>
                <div style=""><i class="fab fa-facebook-f"></i></div>
                <div style=""><i class="fab fa-linkedin-in"></i></div>
                <div style=""><i class="fab fa-google-plus-g"></i></div>

            </div>
        </div>
        <!-- row drop -->
        <div class="row row-drop">
            <div class="dropdown" style="width:90%; margin-left:3px;">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="width:85%;border-radius:0; background-color:#f6f6f6;border:1px solid #dbdbdb;padding:10px;color:#898988;">
                    Drop Down Menu
                </button>
                <div class="dropdown-menu" style="width:85%;">
                    <a class="dropdown-item" href="#">Link 1</a>
                    <a class="dropdown-item" href="#">Link 2</a>
                    <a class="dropdown-item" href="#">Link 3</a>
                </div>
            </div>
        </div>

    </div>
    <!-- col3 -->
    <div class="col-md-4">
        <!-- row map -->
        <div class="row row-map">


            <div id="googleMap" style="width:100%;border:1px solid #dbdbdb"></div>

        </div>
        <!-- row buttons -->
        <div class="row row-butons">
            <!-- left div -->
            <div class="col-md col-left">
                <div class="form-group">
                    <input type="button" value="style 1" class="btn btn-info btn-sm style1" />
                    <input type="button" value="style 2" class="btn btn-outline-info btn-sm style2"/>
                </div>
                <div class="form-group">
                    <input type="button" value="Disabled" class="btn btn-outline-dark btn-sm style3" />
                    <input type="button" value="Error" class="btn btn-outline-danger btn-sm style4" />
                </div>
                <div id="switchs" style="">
                    <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                    </label>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round" id="s1"></span>
                    </label>

                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>

                </div>
               
                <div id="time">

                    <div style="height:30px; background-color:#393836; padding:7px;">
                        <i class="fas fa-plus" style="float: right;color:#ffffff;"></i>
                    </div>
                    <div style="background-color:#ffffff;height:60px;text-align:center;">
                        <div id="clock" style="height:40px; text-align:center;font-size:20px;color:#6f43bd;">

                        </div>
                        <div style="height:40px; text-align:center;font-size:10px;color:#393836;">
                            <span>HOUR</span> <span style="margin-left:5px;">MIN</span>    <span style="margin-left:5px;">SEC</span>
                        </div>
                    </div>

                </div>

            </div>

            <!-- right div -->
            <div class="col-md col-right">
                <div>
                    <input type="text" />
                    <input type="text" />
                </div>
               
                <div class="alert alert-success" style="padding:10px;">Success  <i class="fas fa-check fa-1x" style="float:right"></i></div>
                <div class="alert alert-danger" style="padding:10px;">Error! Please try again <i class="fas fa-times fa-1x" style="float:right"></i></div>
            </div>

        </div>
        <!-- row video -->
        <div class="row row-video" style="">
            <video id="video" style="width:100%; margin:auto;display:block;" controls>
                <source src="../Videos/v.MP4" type="video/mp4">
                <source src="../Videos/ogg.MP4" type="video/ogg">
                Your browser does not support HTML5 video.
            </video>
            @*<iframe style="width:100%;" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>*@


        </div>
    </div>

</div>



@section scripts {

    <script>
        function myMap() {
            var mapProp = {
                center: new google.maps.LatLng(51.508742, -0.120850),
                zoom: 14,
            };
            var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
        }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZH3d8AiCZ4ImXOCtME7d9_ze3EZnxeR4&callback=myMap"></script>
    <script src="~/source/jsCalendar.js"></script>

    <script>
        function updateClock() {
            //var t = new Date($.now());
            var dt = new Date();
            var time = dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds();
            //$.now();
            //new Date().toString();
            $("#clock").html(time);
        }
        setInterval('updateClock()', 1000);


        /////////////////////////////////
        var Cal = function (divId) {

            //Store div id

            this.divId = divId;

            // Days of week, starting on Sunday
            this.DaysOfWeek = [
                //'Sunday',
                //'Monday',
                //'Tuesday',
                //'Wednesday',
                //'Thursday',
                //'Friday',
                //'Saturday'
                'Sun',
                'Mon',
                'Tue',
                'Wed',
                'Thu',
                'Fri',
                'Sat'
            ];

            // Months, stating on January
            this.Months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];

            // Set the current month, year
            var d = new Date();

            this.currMonth = d.getMonth();
            this.currYear = d.getFullYear();
            this.currDay = d.getDate();

        };

        // Goes to next month
        Cal.prototype.nextMonth = function () {
            if (this.currMonth == 11) {
                this.currMonth = 0;
                this.currYear = this.currYear + 1;
            }
            else {
                this.currMonth = this.currMonth + 1;
            }
            this.showcurr();
        };

        // Goes to previous month
        Cal.prototype.previousMonth = function () {
            if (this.currMonth == 0) {
                this.currMonth = 11;
                this.currYear = this.currYear - 1;
            }
            else {
                this.currMonth = this.currMonth - 1;
            }
            this.showcurr();
        };

        // Show current month
        Cal.prototype.showcurr = function () {
            this.showMonth(this.currYear, this.currMonth);
        };

        // Show month (year, month)
        Cal.prototype.showMonth = function (y, m) {

            var d = new Date()
                // First day of the week in the selected month
                , firstDayOfMonth = new Date(y, m, 1).getDay()
                // Last day of the selected month
                , lastDateOfMonth = new Date(y, m + 1, 0).getDate()
                // Last day of the previous month
                , lastDayOfLastMonth = m == 0 ? new Date(y - 1, 11, 0).getDate() : new Date(y, m, 0).getDate();


            var html = '<table>';

            // Write selected month and year

            html += '<thead><tr>';
            html += '<td colspan="7" class="Day">' + this.DaysOfWeek[m] + '</td>';
            //html += '<td colspan="7">' + this.Months[m] + ' ' + y + '</td>';
            html += '</tr></thead>';


            html += '<thead><tr>';
            html += '<td colspan="7">' + this.Months[m] + '</td>';
            //html += '<td colspan="7">' + this.Months[m] + ' ' + y + '</td>';
            html += '</tr></thead>';


            // Write the header of the days of the week
            html += '<tr class="days">';
            for (var i = 0; i < this.DaysOfWeek.length; i++) {
                html += '<td>' + this.DaysOfWeek[i] + '</td>';
            }
            html += '</tr>';

            // Write the days
            var i = 1;
            do {

                var dow = new Date(y, m, i).getDay();

                // If Sunday, start new row
                if (dow == 0) {
                    html += '<tr>';
                }
                // If not Sunday but first day of the month
                // it will write the last days from the previous month
                else if (i == 1) {
                    html += '<tr>';
                    var k = lastDayOfLastMonth - firstDayOfMonth + 1;
                    for (var j = 0; j < firstDayOfMonth; j++) {
                        html += '<td class="not-current">' + k + '</td>';
                        k++;
                    }
                }

                // Write the current day in the loop
                var chk = new Date();
                var chkY = chk.getFullYear();
                var chkM = chk.getMonth();
                if (chkY == this.currYear && chkM == this.currMonth && i == this.currDay) {
                    html += '<td class="today">' + i + '</td>';
                } else {
                    html += '<td class="normal">' + i + '</td>';
                }
                // If Saturday, closes the row
                if (dow == 6) {
                    html += '</tr>';
                }
                // If not Saturday, but last day of the selected month
                // it will write the next few days from the next month
                else if (i == lastDateOfMonth) {
                    var k = 1;
                    for (dow; dow < 6; dow++) {
                        html += '<td class="not-current">' + k + '</td>';
                        k++;
                    }
                }

                i++;
            } while (i <= lastDateOfMonth);

            // Closes table
            html += '</table>';

            // Write HTML to the div
            document.getElementById(this.divId).innerHTML = html;
        };

        // On Load of the window
        window.onload = function () {

            // Start calendar
            var c = new Cal("divCal");
            c.showcurr();

            // Bind next and previous button clicks
            getId('btnNext').onclick = function () {
                c.nextMonth();
            };
            getId('btnPrev').onclick = function () {
                c.previousMonth();
            };
        }

        // Get element by id
        function getId(id) {
            return document.getElementById(id);
        }
            /////////////////////////////////
        //var element = document.getElementById("my-calendar");
        //// Create the calendar
        //jsCalendar.new(element, "16/04/2018", {
        //    navigator: true,
        //    navigatorPosition: "left",
        //    zeroFill: false,
        //    monthFormat: "month YYYY",
        //    dayFormat: "DDD",
        //    language: "en"
        //});
    </script>

}